
.header{
    background-color: #1F2937;
    border:1px solid #1F2937;
    font-family: Arial, Helvetica, sans-serif;
}

.top-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-bottom:80px;
}

.bottom-header{
    display:flex;
    flex-direction:column;
    padding-left:200px;
    width:500px;

}

.bod{ /*bottom header + image : to make them side by side*/
    display:flex;
    padding-bottom:80px;
}

img{
    width:500px;
    height:auto;
    background-color: gray;
}

.links{
    display:flex;
    gap: 16px;
    margin-right:52px;
    font-size:18px;
    padding-right:200px;
}

.logo{
    font-size:24px;
    color: #F9FAF8;
    padding-left:200px;
}

.one{
    font-size:48px;
    font-weight:1100px;
    color:#F9FAF8;
}

.two{
    font-size:18px;
    color:#E5E7EB;
    padding-top:8px;
    padding-bottom:16px;
}

.SignUpButton{
    background-color:#3882F6;
    color:#F9FAF8;
    border-radius:8px;
    border-color:#3882F6;
    padding-left:16px;
    padding-right:16px;
    padding-top:4px;
    padding-bottom:4px;
    width:100px;
}

a{
    text-decoration:none;
    color:#E5E7EB;
}

ul{
    list-style-type: none;;
}


